{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block titletag %}{{ site_title }}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "mainsite/main.css" %}">
	</head>
	<body>
		<div id="topbar">
			<span id="logo"><a href='/'>Useful|idiom</a></span>
			<span id="top-menu">
				<span class="menu-item"><a href="{% url 'mainsite:bloglist' %}">Blog</a></span> 
				<span class="menu-item"><a href="#">Projects</a></span> 
				<span class="menu-item"><a href="{% url 'mainsite:index' %}">About</a></span> 
			</span>
		</div>
		<div id="columnlayout">
		{# block mainbody #}
		{% block mainpanel %}example content{% endblock %}
		{% block rightbar %}
		<div id="right-bar"><ul>
			<li>Home</li>
			<li>Blog</li>
			<li>etc</li>
			Might remove this sidebar.
		</ul></div>
		{% endblock %}
		</div>
		<div id="footer">
                    Useful Idiom. Other footer stuff.
		</div>
	
	</body>
</html>
