{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block titletag %}{{ site_title }}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "mainsite/main.css" %}">
	</head>
	<body>
		<div id="topbar">
			<span id="logo"><a href='/'>Useful|idiom</a></span>
			<span id="top-menu">
				<span class="menu-item"><a href="{% url 'mainsite:bloglist' %}">Blog</a></span> 
				<span class="menu-item"><a href="#">Projects</a></span><span class='caret'><span> 
				<span class="menu-item"><a href="{% url 'mainsite:index' %}">About</a></span>
				<ul id='projectmenu-popup'>
				{% for prjn, prjl in project_links.items %}
				<li><a href="{{ prjl }}">{{ prjn }}</a></li>
				{% endfor %}
				</ul>
			</span>
		</div>
		<div id="columnlayout">
		{# block mainbody #}
		
		{% block mainpanel %}example content{% endblock %}
		{% block rightbar %}
		{% endblock %}
		</div>
		<div id="footer">
                    Useful Idiom. Other footer stuff.
		</div>
	
	</body>
</html>
